/* ---- VARIABLES ---- */
$border-colors: (
  primary: var(--accent-primary),
  success: var(--accent-success),
  danger: var(--accent-danger),
  warning: var(--accent-warning),
  info: var(--accent-info)
);

$border-widths: (0, 1, 2, 4, 8);
$border-sides: (t: top, r: right, b: bottom, l: left);

.border {
  border: 1px solid var(--border-color);
  
  &-none { border: none; }
  
  // Border width
  @each $w in $border-widths {
    &-#{$w} { border: #{$w}px solid var(--border-color); }
  }
  
  // Border sides
  @each $abbr, $side in $border-sides {
    &-#{$abbr} { border-#{$side}: 1px solid var(--border-color); }
  }
  
  // Border style
  &-solid { border-style: solid; }
  &-dashed { border-style: dashed; }
  &-dotted { border-style: dotted; }
  &-double { border-style: double; }
  
  // Border colors
  @each $name, $color in $border-colors {
    &-#{$name} { border-color: $color; }
  }
}
