@use "sass:map";

$spacings: (
  default: var(--spacing-lg),
  md: var(--spacing-md),
  sm: var(--spacing-sm)
);

$container-sizes: (
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  2xl: 1400px,
  fluid: 100%
);

/* ---- CONTAINERS ---- */
.container {
  width: 100%;
  padding: 0 map.get($spacings, default);
}

@each $name, $size in $container-sizes {
  .container-#{$name} {
    max-width: $size;
  }
}

/* ---- RESPONSIVE ---- */
@media (max-width: 768px) {
  .container {
    padding: 0 map.get($spacings, md);
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0 map.get($spacings, sm);
  }
}
