@use "sass:map";

$cursor-types: (
  auto,
  pointer,
  default,
  not-allowed,
  move,
  wait
);

/* ---- CURSORS ---- */
@each $cursor in $cursor-types {
  .cursor-#{$cursor} {
    cursor: $cursor;
  }
}
