@use "sass:map";

/* ---- ALING ---- */

$flex-direction: (
  row: row,
  col: column,
  row-reverse: row-reverse,
  col-reverse: column-reverse
);

$flex-wrap: (
  wrap: wrap,
  nowrap: nowrap
);

$flex-grow: (
  1: 1,
  0: 0
);

$flex-shrink: (
  1: 1,
  0: 0
);

$flex-basis: (
  full: 100%
);

$justify-content: (
  start: flex-start,
  end: flex-end,
  center: center,
  between: space-between,
  around: space-around,
  evenly: space-evenly
);

$align-items: (
  start: flex-start,
  end: flex-end,
  center: center,
  baseline: baseline,
  stretch: stretch
);

$align-content: (
  start: flex-start,
  end: flex-end,
  center: center,
  between: space-between,
  around: space-around
);

$align-self: (
  auto: auto,
  start: flex-start,
  end: flex-end,
  center: center,
  baseline: baseline,
  stretch: stretch
);

/* ---- UTILITIES ----*/

.flex {
  display: flex;
}

// Flex direction
@each $key, $value in $flex-direction {
  .flex-#{$key} {
    flex-direction: $value;
  }
}

// Flex wrap
@each $key, $value in $flex-wrap {
  .flex-#{$key} {
    flex-wrap: $value;
  }
}

// Grow
@each $key, $value in $flex-grow {
  .flex-grow-#{$key} {
    flex-grow: $value;
  }
}

// Shrink
@each $key, $value in $flex-shrink {
  .flex-shrink-#{$key} {
    flex-shrink: $value;
  }
}

// Basis
@each $key, $value in $flex-basis {
  .flex-basis-#{$key} {
    flex-basis: $value;
  }
}

// Justify
@each $key, $value in $justify-content {
  .justify-#{$key} {
    justify-content: $value;
  }
}

// Align items
@each $key, $value in $align-items {
  .items-#{$key} {
    align-items: $value;
  }
}

// Align content
@each $key, $value in $align-content {
  .content-#{$key} {
    align-content: $value;
  }
}

// self
@each $key, $value in $align-self {
  .self-#{$key} {
    align-self: $value;
  }
}

/* --------------------------
   ORDER
---------------------------*/

.order-first { order: -1; }
.order-last { order: 9999; }
.order-none { order: 0; }

@for $i from 1 through 12 {
  .order-#{$i} {
    order: $i;
  }
}
