/* ---- SHADOW ---- */

.shadow-none {
  box-shadow: none !important;
}

.shadow-sm {
  box-shadow: 0 2px 6px var(--shadow-sm);
}

.shadow {
  box-shadow: 0 4px 12px var(--shadow);
}

.shadow-md {
  box-shadow: 0 8px 24px var(--shadow-md);
}

.shadow-lg {
  box-shadow: 0 20px 60px var(--shadow-lg);
}

.shadow-xl {
  box-shadow: 0 25px 80px var(--shadow-xl);
}
