/* ---- WIDTH (relative) ---- */
.w-full { width: 100%; }
.w-3\/4 { width: 75%; }
.w-2\/3 { width: 66.666%; }
.w-1\/2 { width: 50%; }
.w-1\/3 { width: 33.333%; }
.w-1\/4 { width: 25%; }
.w-auto { width: auto; }
.w-screen { width: 100%; max-width: 100%; box-sizing: border-box; }

/* ---- HEIGHT (relative) ---- */
.h-full { height: 100%; }
.h-3\/4 { height: 75%; }
.h-2\/3 { height: 66.666%; }
.h-1\/2 { height: 50%; }
.h-1\/3 { height: 33.333%; }
.h-1\/4 { height: 25%; }
.h-auto { height: auto; }
.h-screen { height: 100vh; }

/* ---- WIDTH (fix) ---- */
.w-1  { width: var(--scale-1); }
.w-2  { width: var(--scale-2); }
.w-3  { width: var(--scale-3); }
.w-4  { width: var(--scale-4); }
.w-5  { width: var(--scale-5); }
.w-6  { width: var(--scale-6); }
.w-7  { width: var(--scale-7); }
.w-8  { width: var(--scale-8); }
.w-9  { width: var(--scale-9); }
.w-10 { width: var(--scale-10); }

/* ---- HEIGHT (fix) ---- */
.h-1  { height: var(--scale-1); }
.h-2  { height: var(--scale-2); }
.h-3  { height: var(--scale-3); }
.h-4  { height: var(--scale-4); }
.h-5  { height: var(--scale-5); }
.h-6  { height: var(--scale-6); }
.h-7  { height: var(--scale-7); }
.h-8  { height: var(--scale-8); }
.h-9  { height: var(--scale-9); }
.h-10 { height: var(--scale-10); }

/* ---- MIN/MAX ---- */
.min-w-full { min-width: 100%; }
.min-h-full { min-height: 100%; }
.max-w-full { max-width: 100%; }
.max-h-full { max-height: 100%; }
